<section>
    <nav className="navbar navbar-expand-lg bg-body-tertiary">
      <div className="container-fluid">
        <Link className="navbar-brand" to="/">Navbar</Link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

        <div className="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">

          <ul className="navbar-nav">
            <li className="nav-item">
              <Link className="nav-link active" aria-current="page" to="/">Products</Link>
            </li>

            <li className="nav-item">
              <Link className="nav-link" aria-current="page" to="/add">Add</Link>
            </li>

            <li className="nav-item">
              <Link className="nav-link" aria-current="page" to="/update">Update</Link>
            </li>
            <li className="nav-item">
              <Link className="nav-link" aria-current="page" to="/delete">Delete</Link>
            </li>
            <li className="nav-item">
              <Link className="nav-link" aria-current="page" to="/signup">Register</Link>
            </li>
           
          </ul>

          {/* <ul className="nav-item">
          <Link className="nav-link me-2" to="/logout">Logout</Link><Link className="nav-link me-2" to="/login">Login</Link>
          </ul> */}
      
        
        </div>
      </div>
    </nav>
    
    
        </section>